.header
{
    max-width: 1590px;
    min-width: 500px;
}
.name
{
    margin:auto;
    text-align:center;
}
.name > .h1
{
    text-align:center;
}
.stf
{
    display:flex;
}
.pr
{
    display:block;
    padding: 20px 20px;
    align-self: center;
}



